<!DOCTYPE html>
<html>
  <head>
    <title>投票</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <link rel='stylesheet' href='/stylesheets/ionic.min.css' />
    <link rel='stylesheet' href='/stylesheets/barrage.css' />
    <link href="http://cdn.lydiabox.com/reviewp/semantic.min.css" rel="stylesheet">
    <link href="http://cdn.lydiabox.com/reviewp/static/app.css" rel="stylesheet">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript"> //点击后隐藏『上传成功』
      $(document).ready(function(){
        $("#suggest").click(function(){
          $("#suggest").hide(1500);
          });
      });
  </script>
  </head>

  <body>
    <div class="box">
      <div class="bar bar-header bar-dark" id="header">
        <h1 class="title">选择你喜欢的节目吧</h1>
        <button class="button button-clear button-positive" onclick="location='./homepage'">返回</button>
    </div>
    <div class="ui bottom attached segment">
      <table class="ui celled table">
        <thead class="center aligned">
          <tr style="width:100% !important">
            <th style="width:20% !important ;display:inline-block !important ">投票</th>
            <th style="width:35% !important ;display:inline-block !important">节目名</th>
            <th style="width:35% !important ;display:inline-block !important">表演者</th>
          <!--   <th>描述</th> -->
          </tr>
        </thead>
        <form action="/voted" method="post">

          <% programs.forEach(function (program, index) { %>
          <tr class="center aligned" style="width:100% !important">
            <td style="width:20% !important; display:inline-block !important">
              <input type="checkbox" name="avote" value="<%= program._id %>" /> 
            </td>
            <td style="width:35% !important; display:inline-block !important"><%= program.name %></td>
            <td style="width:35% !important; display:inline-block !important"><%= program.player %></td>
          </tr>
          <% }) %>
        </table>

        <% if(success) { %>
          <h2 id="suggest" class="button button-balanced" ><%= success %><h2>
          <% console.log(success) %>
        <% } %>

        <% if(error) { %>
          <h2 id="suggest" class="button  button-balanced" ><%= error %><h2>
        <% } %>

        <div style="display:flex;justify-content:flex-end;align-items:center;">
            <button class="button button-balanced" type="submit" id="submit">投票</button>
        <div>

      </form>
    </div>

    </div>  
  </body>
</html>